@using TourDeFrance.Core;

@section BreadCrumb
{
    @Html.Partial("Partial/MenuAdminArea")
}

<h1>Page Not Found</h1>
<p>Could not find the page: @ViewBag.RequestedUrl. This page is supposed to exist? Help us and report the issue to <a href="mailto:@(Context.Current.Config.ErrorMailRecipient)">@Context.Current.Config.ErrorMailRecipient</a></p>
@if (ViewBag.ReferrerUrl != null)
{
    <p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it.
    So add padding in case we're short. *@
@(new string(' ', 512))