@model TourDeFrance.ASP.Common.Models.ChangePasswordModel

@{
    Layout = "_LayoutUser.cshtml";
}

@section Title{
    Password Change
}

@if (Model.IsExpired)
{
    <p>Your password has expired. You must change your password.</p>
}
else
{
    <p>Your access has been created/reseted with a default password. You must change your password.</p>
}

<div class="mdl-card__supporting-tex">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.IsExpired)
        @Html.AntiForgeryToken()
        <div class="mdl-textfield mdl-js-textfield">
            @Html.PasswordFor(x => x.OldPassword, new { placeholder = "Old Password", @class = "mdl-textfield__input" })
            @Html.LabelFor(x => x.OldPassword, new { @class = "mdl-textfield__label" })
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            @Html.PasswordFor(x => x.NewPassword, new { placeholder = "New Password", @class = "mdl-textfield__input" })
            @Html.LabelFor(x => x.NewPassword, new { @class = "mdl-textfield__label" })
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            @Html.PasswordFor(x => x.NewPasswordConfirmation, new { placeholder = "New Password Confirmation", @class = "mdl-textfield__input" })
            @Html.LabelFor(x => x.NewPasswordConfirmation, new { @class = "mdl-textfield__label" })
        </div>
        <div class="mdl-card__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Change password</button>
        </div>
    }
</div>

