@model TourDeFrance.ASP.Common.Models.ChangePasswordModel

@{
    ViewBag.Title = "Password Change";
}

@section Title{
    Password Change
}

@if (Model.IsExpired)
{
    <p>Your password has expired. You must change your password.</p>
}
else
{
    <p>Your access has been created/reseted with a default password. You must change your password.</p>
}

<div class="row">
    <div class="span8 offset3">
        @Html.Partial("Partial/ValidationSummary")

        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.HiddenFor(x => x.IsExpired)
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.LabelFor(x => x.OldPassword, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(x => x.OldPassword, new {placeholder = "Old Password"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.NewPassword, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(x => x.NewPassword, new {placeholder = "New Password"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.NewPasswordConfirmation, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(x => x.NewPasswordConfirmation, new {placeholder = "New Password Confirmation"})
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Change password</button>
                </div>
            </div>
        }
    </div>
</div>

