@using hbehr.recaptcha
﻿@model TourDeFrance.ASP.Common.Models.ForgotPasswordModel

@section Title{
    Forgot Password
}

<h3>Please enter your email address or username</h3>
<div class="row">
    <div class="span8 offset3">
        @Html.Partial("Partial/ValidationSummary")

        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Username, new { placeholder = "Username" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @ReCaptcha.GetCaptcha()
                    <button type="submit" class="btn">Get a new password!</button>
                </div>
            </div>
        }
    </div>
</div>