@using hbehr.recaptcha
﻿@model TourDeFrance.ASP.Common.Models.ForgotPasswordModel

@{
    Layout = "_LayoutUser.cshtml";
}

@section Title{
    Forgot Password
}

<h3>Please enter your email address or username</h3>
<div class="mdl-card__supporting-tex">
    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="mdl-textfield mdl-js-textfield">
            @Html.TextBoxFor(x => x.Email, new {placeholder = "Email", @class = "mdl-textfield__input"})
            @Html.LabelFor(x => x.Email, new {@class = "mdl-textfield__label"})
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            @Html.TextBoxFor(x => x.Username, new {placeholder = "Username", @class = "mdl-textfield__input"})
            @Html.LabelFor(x => x.Username, new {@class = "mdl-textfield__label"})
        </div>
        @ReCaptcha.GetCaptcha()
        <div class="mdl-card__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Get a new password!</button>
        </div>
    }
</div>