@model TourDeFrance.ASP.Common.Models.LoginModel

@{
    Layout = "_LayoutUser.cshtml";
    string continueUrl = Request.Params["returnUrl"] ?? Url.RouteUrl(new { Controller = "Home", Action = "Index" });
}

@section Title{
    Welcome
}

<div class="mdl-card__supporting-tex">
	@using (Html.BeginForm("Login", "User", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.Hidden("Continue", continueUrl)
		<div class="mdl-textfield mdl-js-textfield">
			@Html.TextBoxFor(x => x.UserName, new {autocomplete = "off", @class = "mdl-textfield__input", pattern = ".+"})
			@Html.LabelFor(x => x.UserName, new {@class = "mdl-textfield__label"})
			@Html.ValidationMessageFor(x => x.UserName)
		</div>
		<div class="mdl-textfield mdl-js-textfield">
			@Html.PasswordFor(x => x.Password, new {autocomplete = "off", @class = "mdl-textfield__input"})
			@Html.LabelFor(x => x.Password, new {@class = "mdl-textfield__label"})
			@Html.ValidationMessageFor(x => x.Password)
		</div>
		<label for="RememberMe" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
			@Html.CheckBoxFor(x => x.RememberMe, new {@class= "mdl-checkbox__input" })
			<span class="mdl-checkbox__label">Remember me</span>
		</label>
		<div class="mdl-card__actions">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Sign in</button>
		</div>
	}
</div>