﻿@model TourDeFrance.ASP.Common.Models.PasswordRecoveryModel

@{
    Layout = "_LayoutUser.cshtml";
}

@section Title{
    Password Recovery
}

<div class="mdl-card__supporting-tex">
    @using (Html.BeginForm("RecoverPassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AuthToken)
        <div class="mdl-textfield mdl-js-textfield">
            @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "mdl-textfield__input" })
            @Html.LabelFor(x => x.Password, new { @class = "mdl-textfield__label" })
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            @Html.PasswordFor(x => x.PasswordConfirmation, new { placeholder = "Password Confirmation", @class = "mdl-textfield__input" })
            @Html.LabelFor(x => x.PasswordConfirmation, new { @class = "mdl-textfield__label" })
        </div>
        <div class="mdl-card__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Change password</button>
        </div>
    }
</div>