﻿@model TourDeFrance.ASP.Common.Models.PasswordRecoveryModel

@{
    ViewBag.Title = "Password Recovery";
}

@section Title{
    Password Recovery
}

<div class="row">
    <div class="span8 offset3">
        @Html.Partial("Partial/ValidationSummary")

        @using (Html.BeginForm("RecoverPassword", "User", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.AuthToken)
            <div class="control-group">
                @Html.LabelFor(x => x.Password, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(x => x.Password, new {placeholder = "Password"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.PasswordConfirmation, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(x => x.PasswordConfirmation, new {placeholder = "Password Confirmation"})
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Change password</button>
                </div>
            </div>
        }
    </div>
</div>